<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ボウリングのデータシート（ラウンドワン）</title>
  
         <!-- cssの読み込み -->
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
		<h1>{{ title }}</h1>
        <p>{{ message }}</p>

        <form action="/" method="POST" enctype="multipart/form-data">
            <div>
                <label for="cb1">Python:</label>
                <input type="checkbox" id="cb1" name="progCB" value="Python">
            </div>
            <div>
                <label for="cb2">Node.js:</label>
                <input type="checkbox" id="cb2" name="progCB" value="Node.js">
            </div>
            <div>
                <label for="cb3">TypeScript:</label>
                <input type="checkbox" id="cb3" name="progCB" value="TypeScript">
            </div>
            <div>
                <label for="cb4">JavaScript:</label>
                <input type="checkbox" id="cb4" name="progCB" value="JavaScript">
            </div>
            <div>
                <input type="submit" value="送信">
            </div>
        </form>

        <!-- Javascriptの読み込み -->
        <script src="static/js/script.js"></script>
    </body>
</html>