<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ボウリングのデータシート（ラウンドワン）</title>

        <!-- cssの読み込み -->
        <link rel="stylesheet" href="static/css/style.css">
    </head>

    <body>
		<h1>{{ title }}</h1>
        <p>{{ message }}</p>
        
        <form action="/" method="POST" enctype="multipart/form-data">
            <div>
                <input type="file" name="pdf" accept="application/pdf" multiple="multiple" required>
            </div>
            <div>
                <input type="submit" value="送信">
            </div>
        </form>

        <p>{{ result1 }}</p>
        <p>{{ result2 }}</p>

        <!-- Javascriptの読み込み -->
        <script src="static/js/script.js"></script>
    </body>
</html>
