<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ボウリングのデータシート（ラウンドワン）</title>

        <!-- cssの読み込み -->
        <link rel="stylesheet" href="static/css/style.css">

        <!-- Javascriptの読み込み -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
        <script src="static/js/script.js"></script>
    </head>

    <body>
        <!-- メイン -->
		<h1> ボウリングのデータシート（ラウンドワン）</h1>
        <p>データシートPDFをアップロードしてください。</p>
        
        <!-- PDF入力フォーム -->
        <form action="/" method="POST" enctype="multipart/form-data">
            <div>
                <input type="file" name="pdf" accept="application/pdf" multiple="multiple" required>
            </div>
            <div>
                <input type="submit" value="送信">
            </div>
        </form>

        <!-- ゲームスコア表示 -->
        <div style="width:800px;">
            <canvas id="mychart" width="200" height="100"></canvas>
        </div>
        <script>
            var ctx = document.getElementById('mychart');
            var myChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: [
                    {% for rslt1 in result1 %}
                    "{{ rslt1 }}",
                    {% endfor %}
                ],
                datasets: [{
                    label: '日にち',
                    data: [
                        {% for rslt2 in result2 %}
                        {{ rslt2 }},
                        {% endfor %}
                    ],
                    borderColor: '#484',
                }],
              },
              options: {
                y: {
                    min: 0,
                    max: 300,
                    ticks: {    
                        stepSize: 50
                    }
                },
              },
            });
        </script>


        <p>{{ result1 }}</p>
        <p>{{ result2 }}</p>
        <p>{{ all }}</p>
        
    </body>
</html>
